<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftConcurrencyDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TraditionalConcurrency.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24EB21182CBBCFE300EFAAF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24EB21282CBBCFE500EFAAF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24EB21322CBBCFE600EFAAF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24EB214F2CBBD2B700EFAAF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
